html {
    box-sizing: border-box;
    background: #ffc600;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
    
  }
  
  body {
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  #home{
    height:100vh;
  }
  
  .bandoneon {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    max-width: 100%;
  }

  .hoja {
    background: #6B0F9C;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display:flex;
    flex-direction: column;
    overflow: hidden;
  }

  .hoja1 { background-image:url(../imgs/mendoza/aconcagua.jpg); }
  .hoja2 { background-image:url(../imgs/mendoza/lasleñas.jpg); }
  .hoja3 { background-image:url(../imgs/mendoza/termas_cacheuta.jpg); }
  .hoja4 { background-image:url(../imgs/mendoza/viñedo.jpg); }


  /* Flex Children */
  .hoja > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex: 1 0 auto;
    display:flex;
    
  }

  .hoja > *:first-child{
    transform: translateY(-100%)
  }
  .hoja > *:last-child{
    transform: translateY(100%)
  }

  .hoja.open-active > *:first-child{
    transform: translateY(0);
  }
  .hoja.open-active > *:last-child{
    transform: translateY(0);
  }
  .hoja.open {
    flex:5;
    font-size: 4em;
  }


  .hoja p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
  }
  
  .hoja p:nth-child(2) {
    font-size: 4em;
  }

  .hoja.open {
    font-size: 40px;
  }